
{% block title %}
<title>InSighter 360&deg; | Powered by Data Architects </p></title>
{% endblock %}
{% block css %}

</script>
<link href="/../static/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
{% endblock %}
{% block content %}

<!-- particles.js container --> <div id="particles-js"></div> <!-- stats - count particles --> <!-- particles.js lib - https://github.com/VincentGarreau/particles.js --> <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<div class="main">


    <div class="container">
        <center>
            <div class="middle">
                <div id="login">

                    <form  method="post">
                        {% csrf_token %}

                            <p><span class="fa fa-user"></span>{{ form.username }}</p>

                            <p><span class="fa fa-lock"></span>{{ form.password }}</p>


                            <div>
                                <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text"
                                                                                                     href="#">Reset password</a></span>
                                <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit"
                                                                                                          value="Log in"></span>

                                <input type="hidden" name="next" value="{{ next }}"/>

                            </div>

                        <div class="clearfix"></div>
                    </form>

                    <div class="clearfix"></div>

                </div> <!-- end login -->
                <div align="left" style="padding-top: 30px;">

    <font style="line-height: 100%;" face="Zwizz-Bold" color="white"
          size="8">InSighter</font><sup><font color="white" face="Zwizz-Bold" size="6">360&deg;</sup></font><br><font
                                    face="Zwizz-Bold" color="#f5f5f5" style="line-height: 140%;" size="2">&nbspPowered by Data Architects</font>

                            </span>

                </div>
                <div class="clearfix"></div>
            </div>

    </div>
    </center>
</div>

</div>

<script>
particlesJS("particles-js", {"particles":{"number":{"value":106,"density":{"enable":true,"value_area":800}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.5,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":1,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":150,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":3,"direction":"right","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":true,"mode":"repulse"},"onclick":{"enable":true,"mode":"push"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});var count_particles, stats, update; stats = new Stats; stats.setMode(0); stats.domElement.style.position = 'absolute'; stats.domElement.style.left = '0px'; stats.domElement.style.top = '0px'; document.body.appendChild(stats.domElement); count_particles = document.querySelector('.js-count-particles'); update = function() { stats.begin(); stats.end(); if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) { count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; } requestAnimationFrame(update); }; requestAnimationFrame(update);;
</script>
{% endblock content %}


<!------ Include the above in your HEAD tag ---------->