{% extends 'index.html' %}
{% load static %} 
<head>
   {% block head %}
    <title>Product Analytics</title>
    {% comment %} <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon"> {% endcomment %}

    <!-- Data Table CSS -->
    <link href="/../static/vendors/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/../static/vendors/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/../static/dist/css/material.min.css" rel="stylesheet" type="text/css" />
    <link href="/../static/dist/css/dataTables.material.min.css" rel="stylesheet" type="text/css" />
    
    {% comment %} <!-- Toggles CSS -->
    <link href="vendors/jquery-toggles/css/toggles.css" rel="stylesheet" type="text/css">
    <link href="vendors/jquery-toggles/css/themes/toggles-light.css" rel="stylesheet" type="text/css"> {% endcomment %}

    {% comment %} <!-- Custom CSS -->
    <link href="dist/css/style.css" rel="stylesheet" type="text/css"> {% endcomment %}
    <!--Code for displaying the modal-->

    {% endblock %}
</head>

<body>
    {% comment %} <!-- Preloader -->
    <div class="preloader-it">
        <div class="loader-pendulums"></div>
    </div>
    
    <!-- /Preloader --> {% endcomment %}
    {% block title %}
						<h2 class="hk-pg-title font-weight-600 mb-10">WebMiner</h2>
                        <p>It has appeared that your price competitiveness raised recent week in 10% of the products.</p>
    {% endblock %}
    {% block action_box %}
					<div class="d-flex">
                        <div class="btn-group btn-group-sm">
                            <label style="margin-right: 6px; margin-top: 5px;">Action:</label>
							<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalForms">Add a product</button>
							<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Separated link</a>
							</div>
						</div>
                    </div>
    {% endblock %}


    {% block content %}
        <!--Modal with form-->
        <div class="modal fade" id="exampleModalForms" tabindex="-1" role="dialog" aria-labelledby="exampleModalForms" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a new product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form  method="post" role="form"> 
                          {% csrf_token %}
                            <div class="form-group">
                                <label for="DropdownFormBrand">Brand</label>
                                <input type="text" name="brand" maxlength="100" class = "form-control" required="" id="id_brand">
                            </div>
                            <div class="form-group">
                                <label for="DropdownFormName">Name</label>
                                <input type="text" name="name" maxlength="100" class = "form-control" required="" id="id_name">
                                
                            </div>                            
                            <div class="form-group">
                                <label for="DropdownFormEAN">EAN</label>
                                <input type="text" name="ean" maxlength="100" class = "form-control" required="" id="id_ean">
                            </div>
                            <div class="form-group">
                                <label for="DropdownFormDescription">Description</label>
                                <input type="text" name="description" maxlength="100" class = "form-control" required="" id="id_description">
                            </div>
                            <div class="form-group">
                                <label for="DropdownFormURL">URL</label>
                                <input type="text" name="url" maxlength="100" class = "form-control" required="" id="id_url">
                            
                            </div>
                            <div class="form-group">
                                <label for="DropdownFormManufacturer">Manufacturer</label>
                                <input type="text" name="manufacturer" maxlength="100" class = "form-control" required="" id="id_manufacturer">
                            </div>
                            <div class="form-group">
                                <label for="DropdownFormPrice">Price</label>
                                <input type="text" name="price" maxlength="100" class = "form-control" required="" id="id_price">
                            </div>                                                                                                            
                            {% comment %} <div class="custom-control custom-checkbox mb-10">
                                 <input type="checkbox" class="custom-control-input" id="customChk"> 
                                <label class="custom-control-label" for="customChk">Remember me</label>
                            </div> {% endcomment %}
                            <button type="submit" class="btn btn-primary btn-gradient-dusk ">Add product</button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>       
        <!--Modal test-->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLarge01" aria-hidden="true" >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Show a product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Main Information</a>
                            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Charts</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Prices over Time</a>
                        </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="dupa test"> 
                                <div class="container">
                                    <div class="row">
                                    <div class="col1">Column</div>
                                    <div class="col2">Column</div>
                                    <div class="w-100"></div>
                                    <div class="col">Column</div>
                                    <div class="col">Column</div>
                                    </div>
                                </div>
                            {% comment %} Tutaj wchodzi HTML dotyczący produktów  {% endcomment %}
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            
                            <p class="mt-10">
                            Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                            Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. 
                            Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat.
                            Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. 
                            Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore.
                            Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. Magna duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris fugiat cupidatat. Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum aute laboris nisi. Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit. Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>       




        <!-- Main Content -->
        <div class="container">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data Table</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="database"></i></span></span>Data Tables</h4>
                </div>
                <!-- /Title -->
                

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper">
                            <h5 class="hk-sec-title">Product List</h5>
                            <p class="mb-40">Review your list of product to track prices</p>
                            <br>                     
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                        <table id="datable_3" class="mdl-data-table", style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Product name</th>
                                                    <th>Product description</th>
                                                    <th>Product price</th>                                                                                                                                                        
                                                    <th>Product URL</th>
                                                    <th>Product brand</th>
                                                    <th>Product EAN</th>
                                                    <th>Product manufacturer</th>                                                                                                        
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for product in products %}
                                                <tr> 
                                                    <td><a href = "#" class = "productFetch">{{ product.productName }}</td>  
                                                    <td>{{ product.description }}</td>  
                                                    <td>{{ product.price }}</td>  
                                                    <td>{{ product.customerUrl }}</td>                                            
                                                    <td>{{ product.brand }}</td>
                                                    <td>{{ product.productEan }}</td>
                                                    <td>{{ product.manufacturerName }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                       
                    </div>
                </div>
                <!-- /Row -->

            </div>
            {% endblock %}
            <!-- /Container -->


        </div>
        <!-- /Main Content -->

    </div>
    <!-- /HK Wrapper -->

    <!-- jQuery -->
    {% block Javascript %}
     <script src="/../static/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/../static/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/../static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--JSON2HTML-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.2.0/json2html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.json2html/1.2.0/jquery.json2html.min.js"></script>

    <!--eksperymenty z fetchowaniem-->
    <script src = "/../static/dist/js/fetch-api.js"></script>


    <!-- Slimscroll JavaScript -->
    <script src="/../static/dist/js/jquery.slimscroll.js"></script>

    <!-- Data Table JavaScript -->
    <script src="/../static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/../static/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/../static/vendors/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="/../static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/../static/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/../static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/../static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/../static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/../static/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="/../static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/../static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/../static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/../static/dist/js/dataTables-data.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="/../static/dist/js/feather.min.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="/../static/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Toggles JavaScript -->
    <script src="/../static/vendors/jquery-toggles/toggles.min.js"></script>
    <script src="/../static/dist/js/toggle-data.js"></script>

    <!-- Init JavaScript -->
    <script src="/../static/dist/js/init.js"></script>
    {% endblock %}
</body>

</html>