{% extends 'index.html' %}
<head>
	{% block head %}
    <title>Product Detail Page</title>
	<meta name="description" content="A responsive bootstrap 4 admin dashboard template by hencework" />
	<!-- Morris Charts CSS -->
    <link href="/../static/vendors/morris.js/morris.css" rel="stylesheet" type="text/css" />
	{% endblock %}
</head>

<body>

 {% block content %}
        <!-- Main Content -->
        <div class="hk-pg-wrapper">
			<!-- Container -->
            <div class="container mt-xl-50 mt-sm-30 mt-15">
                <!-- Title -->
                <div class="hk-pg-header">
                    <div>
						<h2 class="hk-pg-title font-weight-600 mb-10">Product statistics</h2>
						<p>Price of Macbooks for last 4 weeks<i class="ion ion-md-help-circle-outline ml-5" data-toggle="tooltip" data-placement="top" title="Need help about earning stats"></i></p>
                    </div>
					<div class="d-flex">
                        <div class="btn-group btn-group-sm" role="group">
							<button type="button" class="btn btn-outline-secondary active">today</button>
							<button type="button" class="btn btn-outline-secondary">week</button>
							<button type="button" class="btn btn-outline-secondary">month</button>
							<button type="button" class="btn btn-outline-secondary">quarter</button>
							<button type="button" class="btn btn-outline-secondary">year</button>
						</div>
                    </div>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
						<!-- Page Alerts -->
						<div class="alert alert-primary alert-wth-icon alert-dismissible fade show" role="alert">
							<span class="alert-icon-wrap"><i class="zmdi zmdi-help"></i></span> You're profile is waiting to be activated. Once done, you can request meetings with them.
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<!-- /Page Alerts -->
						
                        <div class="card hk-dash-type-1 overflow-hide">
							<div class="card-header pa-0">
								<div class="nav nav-tabs nav-light nav-justified" id="dash-tab" role="tablist">
									<a class="d-flex align-items-center justify-content-center nav-item nav-link active" id="dash-tab-1" data-toggle="tab" href="#nav-dash-1" role="tab" aria-selected="true">
										<div class="d-flex">
											<div>
												<span class="d-block mb-5"><span class="display-4 counter-anim">26.72</span>PLN</span>
												<span class="d-block"><i class="zmdi zmdi-money mr-10"></i>Average price over time</span>
											</div>
										</div>
									</a>
									<a class="d-flex align-items-center justify-content-center nav-item nav-link" id="dash-tab-2" data-toggle="tab" href="#nav-dash-2" role="tab" aria-selected="false">
										<div class="d-flex">
											<div>
												<span class="d-block mb-5"><span class="display-4 counter-anim">2457</span></span>
												<span class="d-block"><i class="zmdi zmdi-trending-up mr-10"></i>sales</span>
											</div>
										</div>
									</a>
									<a class="d-flex align-items-center justify-content-center nav-item nav-link" id="dash-tab-3" data-toggle="tab" href="#nav-dash-3" role="tab" aria-controls="nav-dash-3" aria-selected="false">
										<div class="d-flex">
											<div>
												<span class="d-block mb-5"><span class="display-4 counter-anim">12,726</span></span>
												<span class="d-block"><i class="zmdi zmdi-money mr-10"></i>total</span>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="card-body">
								<div class="tab-content" id="nav-tabContent">
									<div class="tab-pane fade show active" id="nav-dash-1" role="tabpanel" aria-labelledby="dash-tab-1">
										<div id="e_chart_11" class="echart" style="height:310px;"></div>
									</div>
									<div class="tab-pane fade" id="nav-dash-2" role="tabpanel" aria-labelledby="dash-tab-2">
										<div id="e_chart_12" class="echart" style="height:310px;"></div>
									</div>
									<div class="tab-pane fade" id="nav-dash-3" role="tabpanel" aria-labelledby="dash-tab-3">
										<div id="e_chart_13" class="echart" style="height:310px;"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="hk-row">
							<div class="col-md-4">
								<div class="card card-sm">
									<div class="card-body">
										<div class="d-flex align-items-center justify-content-between">
											<div>
												<span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-5">budget</span>
												<span class="d-block display-6 font-weight-400 text-dark">$12,783</span>
											</div>
											<div>
												<div id="sparkline_4"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card card-sm">
									<div class="card-body">
										<div class="d-flex align-items-center justify-content-between">
											<div>
												<span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-5">Total hours</span>
												<span class="d-block display-6 font-weight-400 text-dark">659</span>
											</div>
											<div>
												<div id="sparkline_5"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card card-sm">
									<div class="card-body">
										<div class="d-flex align-items-center justify-content-between">
											<div>
												<span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-5">Progress</span>
												<span class="d-block display-6 font-weight-400 text-dark">91.42%</span>
											</div>
											<div>
												<span id="pie_chart_1" class="d-flex easy-pie-chart" data-percent="91">
													<span class="percent head-font">91</span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body pa-0">
								<div class="table-wrap">
									<div class="table-responsive">
										<table class="table table-hover mb-0">
											<thead>
												<tr>
													<th>Data Range</th>
													<th>Visits</th>
													<th>Visitors</th>
													<th>Views</th>
													<th>Failure</th>
													<th>View depth</th>
													<th>Time on site</th>
													<th>% of New</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>2000 - 4000</td>
													<td>
														<span class="d-block">3211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-danger w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">86</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-warning w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">1211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">1241</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-danger w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">76</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-warning w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">12:11</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">80%</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-info w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
												</tr>
												<tr>
													<td>3000 - 5000</td>
													<td>
														<span class="d-block">3211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-danger w-80" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">86</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-warning w-75" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">1211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-primary w-60" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">3211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-danger w-40" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">56</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-warning w-50" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">17:11</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">80%</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-info w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
												</tr>
												<tr>
													<td>7000 - 8000</td>
													<td>
														<span class="d-block">6211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-danger w-65" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">56</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-warning w-60" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">1211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-primary w-75" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">8211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-danger w-90" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">96</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-warning w-95" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">17:11</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-primary w-60" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">60%</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-info w-75" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
												</tr>
												<tr>
													<td>8000 - 9000</td>
													<td>
														<span class="d-block">7211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-danger w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">66</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-warning w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">5211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">3211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-danger w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">86</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-warning w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">12:11</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">80%</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-info w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
												</tr>
												<tr>
													<td>9000 - 10000</td>
													<td>
														<span class="d-block">4211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-danger w-50" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">66</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-warning w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">1251</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-primary w-60" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">3211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-danger w-40" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">86</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-warning w-20" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">19:11</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">80%</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-info w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
												</tr>
												<tr>
													<td>10000 - 15000</td>
													<td>
														<span class="d-block">9211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-danger w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">74</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-warning w-30" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">1211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-primary w-90" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">4211</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-danger w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">90</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-warning w-90" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">19:11</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-primary w-75" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
													<td>
														<span class="d-block">80%</span>
														<span class="d-block mt-5">
															<div class="progress progress-bar-xs">
																<div class="progress-bar bg-info w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						
					</div>
                </div>
                <!-- /Row -->
			</div>
		 {% endblock %}
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /HK Wrapper -->

    <!-- jQuery -->
    {% block Javascript %}
    <script src="/../static/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/../static/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/../static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="/../static/dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="/../static/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="/../static/dist/js/feather.min.js"></script>

    <!-- Toggles JavaScript -->
    <script src="/../static/vendors/jquery-toggles/toggles.min.js"></script>
    <script src="/../static/dist/js/toggle-data.js"></script>
	
	<!-- Counter Animation JavaScript -->
	<script src="/../static/vendors/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="/../static/vendors/jquery.counterup/jquery.counterup.min.js"></script>
	
	<!-- Easy pie chart JS -->
    <script src="/../static/vendors/easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
	
	<!-- Sparkline JavaScript -->
    <script src="/../static/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
	
	<!-- Morris Charts JavaScript -->
    <script src="/../static/vendors/raphael/raphael.min.js"></script>
    <script src="/../static/vendors/morris.js/morris.min.js"></script>
   
	<!-- EChartJS JavaScript -->
    <script src="/../static/vendors/echarts/dist/echarts-en.min.js"></script>
    
	<!-- Peity JavaScript -->
    <script src="/../static/vendors/peity/jquery.peity.min.js"></script>
   
    <!-- Init JavaScript -->
    <script src="/../static/dist/js/init.js"></script>
	<script src="/../static/dist/js/dashboard3-data.js"></script>
	 {% endblock %}
</body>

</html>